# Unreal Engine 5 生成的文件  
Binaries/  
DerivedDataCache/
Intermediate/  
Saved/  
Build/

# Visual Studio 生成的文件  
.vscode
.vs/  
*.sln  
*.suo  
*.opensdf  
*.sdf  
*.vc.db  
*.opendb  
*.xcodeproj
*.xcworkspace

# 其他临时文件  
*.log  
*.backup  