# Unreal Engine 5 生成的文件  
Binaries/  
Intermediate/  
Saved/  
DerivedDataCache/  

# Visual Studio 生成的文件  
.vs/  
*.sln  
*.suo  
*.opensdf  
*.sdf  
*.VC.db  
*.VC.opendb  

# 其他临时文件  
*.log  
*.backup  